.layout {
    width: 100%;
  
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 20px;
    text-align: justify;
}

.head{
    display: flex;
    justify-content: center;
}

.foto{
    height: 9%;
    width: 9%;
    padding: 11px;
}

.nmbr{
    padding-top: 45px;
}